body {
font-family: Arial, sans-serif;
font-size: 18px;
line-height: 1.6;
color: #000;
background: #fff;
}
.container{
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}

header{
	background: #775ba3;
	overflow: hidden;
	padding-bottom: 18px;
}

header ul{
	display: inline-block;
	list-style: none;
	margin: 0 auto;
	padding: 22px 0 0 97px;
}
header ul li{
	font-weight:bold;
	display: inline-block;
	font-size: 16px;
	margin-right: 11px;
	padding-bottom: 8px;

}
header ul li:hover{
	padding-bottom: 6px;
	border-bottom: 2px solid #f8e1b4;
}
header ul li a{
	padding: 0 7px;
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
}
.banner{
	margin: 20px 0;
	position: relative;
}
.banner-gallery{
	width: 100%;
}

.banner-text{
	position: absolute;
	bottom: 20px;
	left:20px;
	padding: 5px 10px;
	font-size: 24px;
	background: rgba(248, 255, 180, 0.8);
}

.biography{
	font-family: 'Helvetica';
}
.firstStringBiography{
	text-align: center;
	font-size: 22px;
}
h3, h4{
	color:  #775ba3;
	text-align: center;
}

 h3{
	font-size: 38px;
	margin-bottom: 0;
}
h4{
	font-size: 26px;
	margin-top: 0;
}
.biography p{
	color: #4b3f55;
}

.gallery h3{
	color:  #775ba3;
	text-align: center;
	font-size: 38px;
}

.gallery-block{
	column-count: 2;
	column-gap: 20px;
}
.gallery-pic img{
	/*width: 50%;
	height: auto;*/
}
